// change the theme
/* custom.scss */
*{
  transition: .2s;
}
@media(max-width: 800px){
  .hide_if_mobile{
    display: none !important;
  }
  .App{
    max-width: 650px !important;
  }
}
@media(min-width: 900px){
  #nav_end{
    width: 300px;
    justify-content: space-evenly !important;
  }
}
[data-amplify-authenticator]{
  max-width: 100% !important;
}

.align_data{
  width: 100%;
  display: flex !important;
  justify-content: space-between;
}

// .offcanvas-bottom{
//   height: 70vh !important;
// }

.spinny_if_big{
  animation: spinny 1s infinite;
}

@keyframes spinny {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

$primary: #fcb040;
$secondary: #da9734;
$success: #3e8d63;
$info: #7854e4;
$warning: #b8c924;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
/* end custom.scss */
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';